/* Quicksand */

@font-face {
    font-family: 'Quicksand Light';
    src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Quicksand Regular';
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand Medium';
    src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand Semi-bold';
    src: url('../assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
    font-weight: 700;
}

/* Poppins */

@font-face {
    font-family: 'Poppins Thin';
    src: url('../assets/fonts/Poppins/Poppins-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins Extra-light';
    src: url('../assets/fonts/Poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins Semi-bold';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins Extra-bold';
    src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins Black';
    src: url('../assets/fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
}
