@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Quicksand Regular', 'Poppins Regular', -apple-system, Ubuntu, sans-serif;
	scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

strong {
	font-weight: 600;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

button {
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

a {
    text-decoration: none;
}
