@import "./reset.css";

header {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/header_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    width: 100%;
    height: 100%;
    background-color: rgba(11, 22, 50, 0.85);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
}

nav > .container {
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.nav-with-background {
    background-color: #0B1632;
}

.nav-brand img {
    transition: opacity linear 0.2s;
}

.nav-brand:hover img {
    opacity: 0.8;
}

.nav-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-menu__item {
    position: relative;
}

.nav-menu__item a {
    color: #EFEFEF;
    font-family: 'Quicksand Medium';
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.nav-menu__item + .nav-menu__item {
    margin-left: 32px;
}

.nav-menu__item-hover {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    background-image: linear-gradient(to right, #11a7e2, #00b9e6, #00cadd, #00d8c9, #08e4ad);
    transition: all linear 0.2s;
}

.nav-menu__item:hover .nav-menu__item-hover {
    visibility: visible;
    opacity: 1;
}

.header-content__info {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EFEFEF;
}

.header-content__info h1 {
    font-family: 'Poppins Medium';
    font-size: 3rem;
    letter-spacing: 0.8px;
}

.header-content__info h2 {
    font-family: 'Quicksand Regular';
    font-size: 1.750rem;
    line-height: 2.5rem;
    letter-spacing: 0.8px;
    margin-top: 2%;
}

.header-content__info button {
    position: absolute;
    bottom: 16%;
    padding: 16px 32px;
    border-radius: 50px;

    background-image: linear-gradient(to right, #11a7e2, #00b9e6, #00cadd, #00d8c9, #08e4ad);
    color: #0B1632;
    font-family: 'Poppins Regular';
    font-size: 1.625rem;
    letter-spacing: 0.8px;
    animation: shadow-button 1.2s infinite;;
}

@keyframes shadow-button {
    0% {
        box-shadow: 0 0 8px 4px #00d8c950;
        transform: scale(1);
    }
    100% {
        box-shadow: 0 0 18px 9px #00d8c950;
        transform: scale(1.01);
    }
}

@media (max-width: 840px) {
    nav > .container {
        padding: 0 32px;
    }

    .nav-menu {
        display: none;
    }

    .header-content__info h1 {
        font-size: 2.5rem;
    }

    .header-content__info h2 {
        font-size: 1.5rem;
    }

    .header-content__info button {
        padding: 12px 24px;
        font-size: 1.375rem;
    }
}
